# WeatherStar 4000+ display settings.
# Edit this file to customize your setup.
# Valid values for checkboxes are: true or false

# Location
ZIP_CODE=78750
WSQS_latLonQuery=78750

# Display
WSQS_wide=true
WSQS_enhanced=true
WSQS_scanLines=false
WSQS_speed=1.50
WSQS_units=us
WSQS_mediaPlaying=true

# Weather Screens
WSQS_hourly=true
WSQS_hourly_graph=true
WSQS_travel=true
WSQS_hazards=true
WSQS_current_weather=true
WSQS_latest_observations=true
WSQS_regional_forecast=true
WSQS_local_forecast=true
WSQS_extended_forecast=true
WSQS_almanac=true
WSQS_spc_outlook=true
WSQS_radar=true

# Scrolling Banner
WSQS_customTextEnable=true
